@*@model IEnumerable<DimensionData.Models.Employee>*@
@model PaginatedList<DimensionData.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by department or job role: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back To Start of Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model =>  model.EmployeeNumber)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EmpNrSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Employee Number</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Gender)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GenderSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Gender</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Age)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EmpAgeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Age</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Department)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DepSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Department</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.JobRole)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["JobRoleSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Job Role</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.JobLevel)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["JobLevelSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Job Level</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.JobRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.JobLevel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeNumber">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmployeeNumber">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmployeeNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
